.user-info-body {
  padding: 20px;
  display: flex;
  .el-form {
    width: 49%;
    .el-select{
      width: 100%;
    }
  }
  &-avatar {
    position: relative;
    border-radius: var(--el-border-radius-base);
    border: 1px dashed var(--el-border-color);
    width: 170px;
    height: 170px;
    transition: 0.35s;
    cursor: pointer;
    &:hover {
      border-color: var(--el-color-primary);
    }
    &-img {
      margin-left: 10px;
      margin-top: 10px;
    }
    &-btns {
      position: relative;
      top: -170px;
      left: 0;
      width: 170px;
      height: 170px;
      border-radius: var(--el-border-radius-base);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.35s;
      &:hover {
        backdrop-filter: blur(5px);
        .el-button {
          display: block;
        }
      }
      :deep(.el-icon) {
        font-size: 1.5rem;
      }
      .el-button {
        display: none;
      }
    }
    &-tip {
      font-size: 13px;
      margin-bottom: 14px;
      margin-top: 14px;
    }
  }
}
