.home {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  &-card{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    &-close{
      position: absolute;
      right: 6px;
      top: 6px;
      cursor: pointer;
      color: var(--el-color-white);
      transition: 0.3s;
      &:hover{
        opacity: 0.6;
      }
    }
  }
  &-config {
    position: absolute;
    z-index: 3;
    right: 0rem;
    top: 0rem;
    font-size: 0.85rem;
    color: var(--el-text-color-primary);
    cursor: pointer;
    transition: 0.35s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--home-config-bg);
    box-shadow: var(--home-config-shadow);
    border-radius: 100%;
    padding: 0.2rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      background-color: var(--home-config-hover-bg);
    }
  }

  &-config-list {
    width: 100%;
    max-height: 500px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid var(--el-border-color);
    overflow-y: auto;
    &-item {
      box-sizing: border-box;
      width: 100%;
      height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--el-border-color);

      &:last-child {
        border-bottom: 0;
      }

      &:first-child {
        border-bottom: 1px solid var(--el-border-color);
      }

      &-flex {
        box-sizing: border-box;
        width: calc(100% - 2rem);
        display: flex;
      }

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        :deep(.svg-icon) {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      &-label {
        width: 230px;
        box-sizing: border-box;
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-btns {
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
  .vue-grid-item {
    border-radius: 6px;
    background-color: var(--home-grid-item-bg);
  }
}
