.home {
  width: 100%;
  height: 100%;
  :deep(.el-card) {
    border: 0;
  }
  &-card {
    height: 310px;
    &-bottom {
    }
    &-header {
      box-sizing: border-box;
      font-weight: bold;
      font-size: 15px;
      border-left: 6px solid var(--el-color-primary);
      border-radius: 4px;
      padding-left: 6px;
    }

    &-body {
      font-size: 14px;
      margin-top: 15px;
      &-item {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px 5px;
        border-radius: 4px;
        transition: var(--el-transition-all);

        &:hover {
          background-color: var(--el-color-primary-light-8);
        }
        .label {
          width: calc(100% - 150px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .date {
          width: 150px;
          text-align: right;
        }
      }
    }
  }
}
