.home {
  width: calc(100% - 20px);
  height: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  :deep(.el-card){
    border: 0;
  }
  &-card {
    box-sizing: border-box;
    height: calc(33.33333% - 20px);
    border: 0;
    &-top{
      margin-top: 20px;
    }
    &-header {
      box-sizing: border-box;
      font-weight: bold;
      font-size: 15px;
      border-left: 6px solid var(--el-color-primary);
      border-radius: 4px;
      padding-left: 6px;
    }

    &-body {
      font-size: 14px;
      margin-top: 15px;
      overflow-y: auto;
      &-item {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px 5px;
        border-radius: 4px;
        transition: var(--el-transition-all);

        &:hover {
          background-color: var(--el-color-primary-light-8);
        }
        .label {
          width: calc(100% - 150px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .date {
          width: 150px;
          text-align: right;
        }
      }
    }
  }
}
