.driver-popover-footer {
    .driver-popover-next-btn {
        background-color: var(--el-color-primary);
        color: var(--el-color-white);
        border-color: var(--el-color-primary);
        text-shadow: none;

        &:hover {
            background-color: var(--el-color-primary);
            opacity: 0.8;
        }
    }
}

html.dark {
    .driver-popover {
        background: var(--el-bg-color-overlay);
        color: var(--el-text-color-regular);

        .driver-popover-progress-text {
            color: var(--el-text-color-regular);
        }

        .driver-popover-prev-btn {
            background-color: var(--el-fill-color-blank);
            color: var(--el-text-color-regular);
            text-shadow: none;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}