html {
    --desktop-layout-bg:#c9eefa;
    --desktop-layout-padding:0.5rem;
    --desktop-layout-toolbar-height:60px;
    --desktop-layout-toolbar-bg:#eef6fd;
    --desktop-layout-toolbar-shadow:0 0 6px rgba(0, 0, 0, 0.2);
    --desktop-layout-toolbar-border-color:rgba(205, 226, 231, 0.93);
    --desktop-layout-toolbar-radius:0.6rem;
    --desktop-layout-toolbar-start-menu-bg:rgba(255, 255, 255, 0.93);
    --desktop-layout-toolbar-icon-bg:rgba(255, 255, 255, 0.726);
    --desktop-layout-toolbar-icon-hover-bg:rgba(179, 222, 237, 0.35);
    --desktop-layout-toolbar-divider-color:#cce5f0ab;
    --desktop-layout-toolbar-popover-bg:#eef6fdce;
    --desktop-layout-toolbar-popover-border-color:rgba(224, 231, 233, 0.93);
    --desktop-layout-toolbar-popover-search-box-bor-color:rgba(205, 226, 231, 0.93);
    --desktop-layout-toolbar-popover-menu-bg:#ffffffe0;
    --desktop-layout-toolbar-popover-menu-hover-bg:rgba(179, 222, 237, 0.35);
    --desktop-layout-toolbar-popover-msg-bg:#f7fbffd2;
    --desktop-layout-toolbar-dropdown-item-hover-bg:rgba(179, 222, 237, 0.35);

    
    --main-content-bg:#fff;
    --main-content-shadow:0 0 6px rgba(0, 0, 0, 0.2);
    --main-content-padding:1.25rem;
    --main-content-radius:0.6rem;
    --main-content-header-border-color:rgba(228, 228, 228, 0.701);
}