html {
    --desktop-layout-margin:0.5rem;
    --desktop-layout-toolbar-height:60px;
    --desktop-layout-toolbar-bg:rgba(239, 246, 253, 0.3);
    --desktop-layout-toolbar-shadow:0 0 20px rgba(0, 0, 0, 0.15);
    --desktop-layout-toolbar-border-color:rgba(240, 252, 255, 0.93);
    --desktop-layout-toolbar-radius:1rem;
    --desktop-layout-toolbar-start-menu-bg:rgba(240, 252, 255, 0.93);
    --desktop-layout-toolbar-icon-bg:rgba(240, 252, 255, 0.441);
    --desktop-layout-toolbar-icon-hover-bg:rgba(240, 252, 255, 0.93);
    --desktop-layout-toolbar-divider-color:rgba(240, 252, 255, 0.56);
    --desktop-layout-toolbar-popover-bg:rgba(234, 246, 249, 0.8);
    --desktop-layout-toolbar-popover-border-color:rgba(240, 252, 255, 0.93);
    --desktop-layout-toolbar-popover-search-box-bor-color:rgba(207, 215, 217, 0.8);
    --desktop-layout-toolbar-popover-menu-bg:#fff;
    --desktop-layout-toolbar-popover-menu-hover-bg:rgba(179, 222, 237, 0.8);
    --desktop-layout-toolbar-popover-msg-bg:#f5fcffcd;
    --desktop-layout-toolbar-dropdown-item-hover-bg:rgba(179, 222, 237, 0.8);
    --desktop-layout-main-bg:rgba(239, 246, 253, 0.3);
    --desktop-layout-main-shadow:-2px -2px 15px rgba(0, 0, 0, 0.08);
    --desktop-layout-main-padding:1.25rem;
    --desktop-layout-main-radius:1rem;
    --desktop-layout-main-header-border-color:rgba(239, 250, 255, 0.701);
}