.desktop-toolbar-tabs {
  box-sizing: border-box;
  width: 100%;
  height: calc(var(--desktop-layout-toolbar-height) - 1rem);
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  &-item {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
    line-height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
    padding: 0 8px;
    margin-left: 5px;
    margin-top: 0.35rem;
    color: var(--el-text-color-primary);
    background-color: var(--desktop-layout-toolbar-tab-bg);
    border-radius: 0.3rem;
    text-decoration: none;
    font-size: 13px;
    transition: 0.35s;
    .icon{
      padding-left: 2px;
      padding-right: 2px;
      background-color:  var(--desktop-layout-toolbar-tab-icon-bg);
      margin-right: 4px;
      border-radius: 5px;
      :deep(.el-icon) {
        margin-left: 0px;
        font-weight: normal;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:hover{
      background-color: var(--desktop-layout-toolbar-tab-hover-bg);
      color: var(--el-color-primary);
    }

    :deep(.el-icon) {
      margin-left: 8px;
      font-weight: 600;
      position: relative;
      top: 2px;

      &:hover {
        color: var(--el-color-danger);
      }
    }
  }

  &-wrapper {
    height: calc(var(--desktop-layout-toolbar-height) - 1rem);
    width: calc(100% - 83px);
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    .router-link-exact-active {
      background-color: var(--desktop-layout-toolbar-icon-hover-bg);
      color: var(--el-color-primary);
    }
  }

  &-btns {
    height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
    line-height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 1rem;

    .desktop-toolbar-tabs-move-to {
      color: var(--el-text-color-primary);
      cursor: pointer;
      border-radius: 0.3rem;
      padding-left: 2px;
      padding-right: 2px;
      

      &:hover {
        color: var(--el-color-primary);
      }
    }

    .desktop-toolbar-tabs-more {
      cursor: pointer;
      border-radius: 0.3rem;
      padding-left: 2px;
      padding-right: 2px;

      .desktop-toolbar-tabs-more-btn {
        height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
        line-height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
        color: var(--el-text-color-primary);
        cursor: pointer;
        border-radius: 0.3rem;
        padding-left: 2px;
        padding-right: 2px;
        display: flex;
        align-items: center;

        &:hover {
          color: var(--el-color-primary);
        }

        :deep(.svg-icon) {
          margin-top: -3px;
          font-size: 0.9rem;
        }
      }
    }
  }
}