.desktop-toolbar {
  width: 100%;
  height: var(--desktop-layout-toolbar-height);
  position: relative;
  z-index: 9;

  &-inner {
    backdrop-filter: blur(30px);
    height: 100%;
    width: calc(100% - 1rem);
    background-color: var(--desktop-layout-toolbar-bg);
    display: flex;
    align-items: center;
    border-radius: var(--desktop-layout-toolbar-radius);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: var(--desktop-layout-toolbar-shadow);

    &-left {
      display: flex;
      align-items: center;

      &-start-menu {
        width: calc(var(--desktop-layout-toolbar-height) - 1.25rem);
        height: calc(var(--desktop-layout-toolbar-height) - 1.25rem);
        cursor: pointer;
        background-color: var(--desktop-layout-toolbar-start-menu-bg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        :deep(.svg-icon) {
          transition: 0.35s;
          font-size: 1.85rem;
          font-weight: bold;

          &:hover {
            transform: rotate(90deg);
          }
        }
      }

      &-search-box {
        margin-left: 0.5rem;
        width: 210px;

        :deep(.el-input__wrapper) {
          border-radius: calc(var(--desktop-layout-toolbar-height) - 1.75rem);

          height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
          border-color: var(--desktop-layout-toolbar-border-color);
        }

        --el-border-color: var(--desktop-layout-toolbar-border-color);
        --el-input-hover-border-color: var(--el-color-primary);
      }
    }

    &-center {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &-divider {
        width: 0.05rem;
        border-radius: 1rem;
        height: calc(var(--desktop-layout-toolbar-height) - 2rem);
        background-color: var(--desktop-layout-toolbar-divider-color);
      }

      &-tabs {
        width: calc(100% - 0.1rem);
        box-sizing: border-box;
      }
    }

    &-right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      :deep(.el-avatar--square) {
        border-radius: 0.3rem;
        width: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
        height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
        cursor: pointer;
        margin-left: 1rem;
      }

      &-time {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        width: 4.5rem;

        .time {
          font-size: 0.85rem;
          font-weight: bold;
        }

        .date {
          font-size: 10px;
        }
      }

      &-item {
        width: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
        height: calc(var(--desktop-layout-toolbar-height) - 1.75rem);
        cursor: pointer;
        background-color: var(--desktop-layout-toolbar-icon-bg);
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        transition: 0.35s;

        &:hover {
          background-color: var(--desktop-layout-toolbar-icon-hover-bg);
          color: var(--el-color-primary);
        }

        :deep(.svg-icon) {
          font-size: 1.65rem;
          font-weight: bold;
        }

        &-badge {
          margin-top: 4px;
        }
      }
    }

    &-popover {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(150px);
      border-radius: var(--el-popover-border-radius);
      padding: 1rem;
      padding-top: 0;

      &-header {
        padding-top: 0.75rem;
        margin-bottom: 0.5rem;
        color: var(--el-text-color-primary);
        font-weight: bold;
        display: flex;
        justify-content: space-between;
      }

      &-search-box {
        margin-top: 0.25rem;
        width: 100%;

        :deep(.el-input__wrapper) {
          border-radius: 0.3rem;
          height: 2rem;
        }

        --el-border-color: var(--desktop-layout-toolbar-popover-search-box-bor-color);
        --el-input-hover-border-color: var(--el-color-primary);
      }

      &-menus {
        height: calc(100% - 5.75rem);
        margin-top: 1rem;
        display: flex;
        flex-flow: wrap;
        align-content: flex-start;
        overflow-y: auto;
        margin-left: -0.25rem;
        margin-right: -0.75rem;

        &-item {
          width: 5rem;
          height: 4.5rem;
          margin: 0.35rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: var(--desktop-layout-toolbar-popover-menu-bg);
          border-radius: 0.3rem;
          cursor: pointer;
          &:hover {
            background-color: var(--desktop-layout-toolbar-popover-menu-hover-bg);
          }

          &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.35s;
            margin-top: -0.1rem;

            :deep(.svg-icon) {
              font-size: 2.8rem;
              font-weight: bold;
            }
          }

          &-label {
            text-align: center;
            font-size: 0.75rem;
            color: var(--el-text-color-primary);
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      &-msgs {
        height: calc(100% - 2.5rem);
        display: flex;
        flex-flow: wrap;
        overflow-y: auto;
        margin-right: -0.75rem;
        padding-right: 0.5rem;

        &-list {
          box-sizing: border-box;
          width: 100%;
          height: 100%;

          &-item {
            box-sizing: border-box;
            width: 100%;
            background-color: var(--desktop-layout-toolbar-popover-msg-bg);
            transition: 0.35s;
            border-radius: 0.3rem;
            padding: 0.5rem;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;

            &:first-of-type {
              margin-top: 0rem;
            }

            cursor: pointer;

            &:hover {
              opacity: 0.65;
            }

            .popover-msg-header {
              font-size: 0.8rem;
              color: var(--el-text-color-primary);
            }

            .popover-msg-footer {
              display: flex;
              justify-content: space-between;
              margin-top: 0.5rem;
              font-size: 0.75rem;
            }
          }
        }
      }

      &-themes {
        height: calc(100% - 2.5rem);
        display: flex;
        flex-flow: wrap;
        overflow-y: auto;
        margin-right: -0.5rem;
        padding-right: 0.25rem;

        &-styles {
          width: 100%;
          display: flex;

          .popover-themes-styles-item {
            width: 5rem;
            height: 4rem;
            box-sizing: border-box;
            text-align: left;
            cursor: pointer;
            transition: 0.35s;
            position: relative;

            &:hover {
              opacity: 0.65;
            }

            img {
              width: 80%;
            }

            &-label {
              width: 80%;
              font-size: 0.75rem;
              text-align: center;
            }

            .is-check {
              position: absolute;
              left: 32.5%;
              top: 30%;
              font-weight: bold;
              transition: 0.35s;
              color: var(--el-color-primary);
            }
          }
        }

        &-colors {
          margin-top: 1.5rem;
          display: flex;
          flex-flow: wrap;

          .popover-themes-colors-item {
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 2px;
            position: relative;
            cursor: pointer;
            margin-right: 10px;
            transition: 0.35s;

            &:last-of-type {
              margin-right: 0;
            }

            &:hover {
              opacity: 0.65;
            }

            .is-check {
              position: absolute;
              left: 15%;
              top: 10%;
              color: var(--el-color-white);
              font-weight: bold;
            }
          }
        }

        &-bg {
          width: 100%;
          height: 9rem;
          margin-top: 1rem;

          img {
            height: 8.1rem;
          }

          .upload-btn {
            color: var(--el-color-primary);
            &:hover {
              opacity: 0.65;
            }
          }
        }
      }
    }

    :deep(.el-popover.el-popper) {
      margin-left: 2px;
      background-color: var(--desktop-layout-toolbar-popover-bg);
      border-color: var(--desktop-layout-toolbar-popover-border-color);
      height: 65vh;
      padding: 0;

      .el-popper__arrow {
        &::before {
          backdrop-filter: blur(10px);
          background-color: var(--desktop-layout-toolbar-popover-bg);
          border-color: var(--desktop-layout-toolbar-popover-border-color);
        }
      }
    }

    :deep(.el-dropdown__popper.el-popper) {
      background-color: var(--desktop-layout-toolbar-popover-bg);
      border-color: var(--desktop-layout-toolbar-popover-border-color);
      padding: 0;
      margin-left: -3px;
      .el-dropdown-menu {
        background-color: var(--desktop-layout-toolbar-popover-bg);
        li {
          color: var(--el-text-color-primary);
          &:hover {
            color: var(--el-text-color-primary);
            background: var(--desktop-layout-toolbar-dropdown-item-hover-bg);
          }
        }
      }
      .el-popper__arrow {
        &::before {
          backdrop-filter: blur(10px);
          background-color: var(--desktop-layout-toolbar-popover-bg);
          border-color: var(--desktop-layout-toolbar-popover-border-color);
        }
      }
    }
  }
}
