.theme-dialog {
  display: flex;
  flex-flow: wrap;

  &-theme-schemes {
    width: 100%;
    margin-bottom: 1em;

    &-item {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      &-label {
        width: 100%;
        height: 25px;
        box-sizing: border-box;
        line-height: 25px;
        backdrop-filter: blur(20px) saturate(1.5);
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 13px;
        color: var(--el-color-white);
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 2px;
      }

      .is-check {
        position: absolute;
        left: calc(50% - 14px);
        top: calc(50% - 20px);
        font-weight: bold;
        font-size: 28px;
        transition: 0.35s;
        color: var(--el-color-white);
      }
    }
  }

  &-styles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    .theme-dialog-styles-item {
      width: 3rem;
      height: 2rem;
      box-sizing: border-box;
      text-align: left;
      cursor: pointer;
      transition: 0.35s;
      position: relative;

      &:hover {
        opacity: 0.65;
      }

      img {
        width: 100%;
      }

      &-label {
        width: 100%;
        font-size: 0.75rem;
        text-align: center;
      }

      .is-check {
        position: absolute;
        left: 38%;
        top: 35%;
        font-weight: bold;
        transition: 0.35s;
        color: var(--el-color-white);
      }

      &:first-child {
        .is-check {
          color: var(--el-color-primary);
        }
      }
    }
  }

  &-colors {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: wrap;

    .theme-dialog-colors-item {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      position: relative;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 5px;
      transition: 0.35s;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.65;
      }

      .is-check {
        position: absolute;
        left: 15%;
        top: 10%;
        color: var(--el-color-white);
        font-weight: bold;
      }

      :deep(.el-color-picker--small) {
        width: 100%;
        height: 100%;

        .el-color-picker__trigger {
          width: 100%;
          height: 100%;
          border-color: var(--el-color-primary);
          border-radius: 2px;

          .el-color-picker__color {
            width: auto;
            height: auto;
            border-color: var(--el-color-primary);
            border-radius: 2px;
          }
        }
      }
    }
  }

  &-bg {
    width: 100%;
    margin-top: 0.5rem;
    position: relative;

    img {
      width: 380px;
      height: 220px;
    }

    .upload-btn {
      color: var(--el-color-primary);

      &:hover {
        opacity: 0.65;
      }
    }
  }
}