html {
  --el-bg-color: rgb(1, 10, 17);
  --el-fill-color-light: #041322;

  --el-border-color: #4c4d4fd3;
  --el-border-color-light: #414243c9;
  --el-border-color-lighter: #2c2c2ccc;
  --el-border-color-extra-light: #2b2b2cce;
}

html.dark {
  --el-bg-color: rgb(1, 10, 17);
  --el-fill-color-light: #041322;

  --el-border-color: #4c4d4fd3;
  --el-border-color-light: #414243c9;
  --el-border-color-lighter: #2c2c2ccc;
  --el-border-color-extra-light: #2b2b2cce;
}

.el-dialog{
  border: var(--el-border);
}
.el-dialog__body{
  padding:var(--el-dialog-padding-primary) var(--el-dialog-padding-primary);
 
}

.el-overlay{
  backdrop-filter:  blur(2px);
}