html {
  --home-grid-item-bg: #ffffff54;
  --home-config-bg:#ffffffe0;
  --home-config-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  --home-config-hover-bg: rgba(231, 247, 254, 0.87);
    
}

html.dark {
  --home-grid-item-bg: #ffffff54;
  --home-config-bg:#5b81a5d6;
  --home-config-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  --home-config-hover-bg: rgb(127, 148, 168);
}
