.icon-select{
  font-size: 16px;
  display: flex;
  align-items: center;
  .icon-view{
    margin-right: 2px;
  }
}
.icon-list {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  &-item {
    width: 28px;
    height: 28px;
    margin:2px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:var(--el-border-radius-base);
    cursor: pointer;
    &:hover{
      background-color: var(--el-fill-color-light);
    }
  }
}
