.work-flow-io {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: var(--el-border);
  padding: var(--main-content-padding);
  box-sizing: border-box;
  .title {
    font-weight: bold;
  }
  .tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
      margin-top: 4px;
      margin-left: 12px;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
      img{
        width: 16px;
        height: 16px;
      }
    }
    .upload-xml {
      position: relative;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
    }
    .upload {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }
    .upload::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
}
