.work-flow-pattern {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 80px;
  z-index: 2;
  background: var(--el-bg-color);
  box-shadow: var(--el-box-shadow-lighter);
  padding: 10px 0;
  font-size: 12px;
  user-select: none;
  border: var(--el-border);

  &-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.35s;
    cursor: grab;
    &-icon {
      font-size: 26px;
      color: var(--el-color-primary);
    }
    &-label {
      font-size: 10px;
    }
    &:hover {
      opacity: 0.6;
    }
    &-default {
      cursor: pointer;
    }
    &-selected {
      opacity: 0.5;
    }
  }
}
