.work-flow-io {
  position: absolute;
  left: 12px;
  bottom: 5px;
  z-index: 2;
  background: var(--el-bg-color);
  box-shadow:  var(--el-box-shadow-lighter);
  padding: 10px;
  display: flex;
  span {
    margin: 0 10px;
    cursor: pointer;
    &:hover{
      opacity: 0.6;
    }
  }
  .upload-xml {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }
  .upload {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  .upload::-webkit-file-upload-button {
    cursor: pointer;
  }
}
