.desktop-layout {
  width: 100vw;
  height: 100vh;
  background-color: var(--desktop-layout-bg);
  //background: url('../../assets/img/desktop-layout/dark-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  &-inner {
    min-width: 960px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    overflow: hidden;
  }
}
